[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
    name = Felix Berger
    email = felix.enok.berger@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDHEA0GhkjkbuZGBnjtXSoQ9zpeXPCTTRYvfJX6RniI6
[github]
    user = dumspy
[core]
	excludesfile = ~/.gitignore_global
	hooksPath =  ~/git-hooks
[push]
	autoSetupRemote = true
